
 
style.
    form{width: 500px; height: 400px; background:rgba(0, 0, 0, 0.5); text-align: center; margin: auto;border: 10px solid #ccc ;}
    h1{background:#20B2AA; color: white;  height:auto;margin-top: 0px;}
    form input { float :left; margin-left:30px;font-size: 20px; height:25px;background:transparent; margin-top:18px; border:none;outline: none;border-bottom: 1px solid #FFFFFF; color: #FFFFFF; }
    form button{text-align: center; float :left; margin-left:300px;margin-top: -20px;color: #fff;border:none;background:#20B2AA;border-radius: 4px;font-size: 18px; width: 100px;height: 50px;}
     form button:hover{background: grey;}
    select {border-radius: 5px;height: 28px;float: left ;margin-left:37px;margin-top: -3px;}
    h3{float: left;margin-left:45px;font-family: Helvetica;color:white; }
    div{margin-left: -5px;}
    font{color: red;}
    p{color: red; }
    img{margin-top:20px;}
    form table {margin-top:-70px;margin-left:90px;}
    a{float:left;margin-left:80px;color: white;}
    
    a:link{text-decoration: none;}
    .lnk{ height: auto;width:auto;  border:  solid #ccc; background:grey;}
    .lnk:hover{background: #20B2AA;}
   

<body >
    
    <form action="/account/login" method="POST">
        <h1 >Login</h1>
        <h3>Username</h3>
        <input type="text" name="username"placeholder="username"/></br></br></br></br></br>
        <h3>Password</h3>
        <input type="password" name="password" placeholder="password"/></br></br></br></br>
        <button type="submit">Login</button></br><br>
        <a href="/account/signup"><h3>Signup</h3></a><br></br>
        p #{msg}
    
    
    </form>
    
    
</body>

